# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out

# Build outputs
/dist
/build
/tmp

# Static bundle output
*.js.map
*.css.map

# Serverless directories
/.serverless
/.fusebox

# Coverage directory
/coverage

# IDE settings and logs
.vscode
.idea
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Parcel cache
/.parcel-cache

# Optional npm cache directory
.npm

# Next.js cache and static files
.next/cache
.next/static

# Compiled files
*.tsbuildinfo

# Typescript temporary files
*.tsbuildinfo

# Binaries
*.exe
*.out
*.app

# Mac OS
.DS_Store

# Windows
Thumbs.db
